{% extends 'website/base.html' %} {% load static %} {% block title %} - About Us {% endblock %} {% block content %}

<div class="image">
    <div class="button-btn">

    </div>
</div>


<div class="container pt-5">
    <div class="row about-us-info ">
        <div class=" col-lg-6 col-md-6 col-sm-12">
            <h3>Synergy Management</h3>
            <br>
            <hr>
            <p>In actuality, a consultant does not have any authority to make changes to a company’s existing accounting practices or to dictate how the financial statements should be prepared. That said, he or she can suggest a path or course of action
                be followed. Depending on the consultant’s relevant knowledge and level of experience, this path can take the business to an extreme loss or to great new heights.</p>
            <p>Thus, it is crucial to ensure the authenticity and credibility of the consultant who is going to be handling your accounting responsibilities. Our firm, Synergy Management, is made up of a highly talented and skilled team of individuals who
                can offer services in accounting, consulting, auditing, and bookkeeping. With office in Baluwatar, our professionals can offer clients highly dedicated and technologically advanced accounting consulting services to help their businesses
                reach the highest level of prosperity and success. We advise a global client base and take pride in offering consulting services that add to a client’s operational momentum and help bring the business to that next level.

            </p>

        </div>
        <div class="col col-lg-6 col-md-6 col-sm-10 col-xs-12">
            <div class="image12">
                <img class="img24" src="{% static 'website/img/s.jpg' %}" alt="My image">


            </div>
        </div>

        <section class="bg-light">

            <div class="container">
                <div class="row about-us-info ">

                    <div class="  col-lg-4 col-md-4 col-sm-12 about-card-right " style="background-color: #fff;">
                        <h3>What client wants?</h3>
                        <hr>

                        <div class="about-list pl-5">
                            <h5>
                                Aside fromwanting their taxes return filed in an efficient and timely manners, clients wants: </h5>

                            <p>1) Peace of mind</p>
                            Nothing is likely to cause more stress than financial side of business. They need to feel confident in what we do. By giving peace of mind, we're giving them time, freedom and confident to get on with running their business.
                            <p>2) Clear projections</p>
                            Clients needs support to tackle bid decision, whether they involves perparing tax bills, taking an additional employee or planning to reinvest in their company.
                            <p>3) Keeping up-to-date</p>
                            Clients needs their accountants to acts as translator when it comes to significant development in world of business and finances. We need reliable source of information, breakdown jagrons and translate policy into something they can understand.
                        </div>
                    </div>

                    <div class=" col-lg- 8 col-md-8 col-sm-12">
                        <h3>What we do?</h3>
                        <br>
                        <hr>
                        <p>We provide advices on financial decision and accounting systems. The changes in tax laws and financial reporting management are updated time and again to keep business leaders updated. We helps client with financial management,
                            financial forcasting and auditing. We analyze financial documents, offer advice on improving profitibility, predict future costs and revenues and check for compliance with financial regulations. We also prepare file on financial
                            reports and tax documents, conduct tax research and suggest ways to improve financial reporting processes.

                        </p>

                    </div>

                </div>

            </div>

    </div>

</div>
</section>

<!-- section for  our teams -->


<!--  endsection for  our teams -->

{% endblock %}